<!-- <h3 *ngIf="products; else noProduct">{{ title }}</h3> -->
<app-category></app-category>

<div class="form-group">
  <input
    type="email"
    class="form-control"
    id="productName"
    placeholder="Search Product"
    [(ngModel)] = "filterText"
  />
  <small *ngIf="filterText" class="form-text text-muted">
      Your searched <strong>{{filterText}}</strong></small
  >
</div>

<div class="row">
  <ng-template #noProduct>
    <div class="alert alert-primary col-md-6" role="alert">
      This category not found product.
    </div>
  </ng-template>
 
  <div *ngFor="let product of products | productFilter:filterText" class="productbox">
    <img [src]="product.imageUrl" class="card-img-top responsive" alt="Card image cap" />
    <div class="card-body text-white bg-dark">
      <h5 class="card-title">
        {{ product.name }} {{ product.price | currency: "EUR":true:"1.2-2" }}
      </h5>
      <hr class="bg-light">
      <p class="card-text">
        {{ product.description }}
      </p>
      <a (click)="addToCart(product)" class="btn btn-success">Add to cart</a>
    </div>
  </div>
</div>
